<header class="header">
    <div class="logo-box">
        <img src="../../../assets/img/logo-white.png" alt="Logo" class="logo">
        <a href="#contact" class="logo-text">Luis Santiago</a>
    </div>
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">FRONT DEVELOPER</span>
            <span class="heading-primary-sub">I design & build</span>
        </h1>
        <h2 id="fluid-text"> - <span id="message"></span> - </h2>
    </div>

</header>