<section class="section-features">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            My personal projects
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">My first portfolio</span>
                    </h4>
                    <div class="card__details">
                        <ul>
                            <li>Landing Page</li>
                            <li>Angular7</li>
                            <li>Bottstrap 4 and FontAwesome</li>
                            <li>Charts</li>
                            <li>JavaScript functions</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">My first porfolio</h3>
                            <p class="paragraph">
                                This is my first portfolio, a Landing Page with tons of JavaScript Code.
                            </p>
                            <p class="paragraph">
                                Just to see how time and effort give their reward.
                            </p>
                            <!-- <p class="card__price-value">{{firstPorfolio_likes}} <span (click)="giveLike('myPortfolio')" class="like">likes</span></p> -->
                        </div>
                        <a href="https://portafolio-luis.herokuapp.com" class="btn btn--white">Back to the past!</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--2">Spowty WebApp</span>
                    </h4>
                    <div class="card__details">
                        <ul>
                            <li>Single Page App</li>
                            <li>Angular7 with VirtualScroll</li>
                            <li>API RestFull from Spotify</li>
                            <li>Bootstrap 4 and FontAwesome</li>
                            <li>Firebase Auth & Database</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Spowty</h3>
                            <p class="paragraph">
                                Spowty is a Single Page App developed with Angular, using the Spotify API to get data from artists, albums, tracks...
                            </p>
                            <p class="paragraph">
                                Take a view of the TOP 20 exits of the moment in Spotify, look for artist, check their albums, hits...
                            </p>
                            <p class="paragraph">
                                You can create your own lists or use the chat to talk with other people about your favourite music.
                            </p>
                            <!-- <p class="card__price-value">{{firstPorfolio_likes}} <span (click)="giveLike('myPortfolio')" class="like">likes</span></p> -->
                        </div>
                        <a href="https://spowtyapp.herokuapp.com/#/spowty" class="btn btn--white">Enjoy it!</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--3">Personal_IA REDUX App</span>
                    </h4>
                    <div class="card__details">
                        <ul>
                            <li>Single Page App</li>
                            <li>Angular7 with REDUX pattern</li>
                            <li>Material Design</li>
                            <li>Administration Panel</li>
                            <li>Firebase Auth & Database</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Personal IA</h3>
                            <p class="paragraph">
                                Redux is a predictable state container for JavaScript apps.
                            </p>
                            <p class="paragraph">
                                Centralizing your application's state and logic enables powerful capabilities like undo/redo, state persistence, and much more.
                            </p>
                            <p class="paragraph">
                                The Redux DevTools make it easy to trace when, where, why, and how your application's state changed.
                            </p>
                            <!-- <p class="card__price-value">{{firstPorfolio_likes}} <span (click)="giveLike('myPortfolio')" class="like">likes</span></p> -->
                        </div>
                        <a href="https://ia-complete.herokuapp.com" class="btn btn--white">Discover it!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>