<h3 class="heading-tertiary u-margin-bottom-small">Mobile Phones Rule the World</h3>
<p class="paragraph">
    Reports are clear: <strong>"Digital media usage time is exploding right now and it's predominantly being driven by mobile apps, especially smartphones."</strong> <br> Mobile is a reality, and mobile-first must now be our focus. It's because I spend
    most of my time growing up with technologies like <strong class="showMe">IONIC</strong> and Progressive Web Applications or <strong class="showMe">PWA</strong>.
    <br> And also I becoming to learn <strong class="showMe">Dart</strong> and the Google's framework called <strong class="showMe">Flutter</strong>
    <br>
</p>