<div class="chart">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
    </canvas>
    <h3 class="heading-tertiary u-margin-bottom-small">Each part of the pie counts</h3>
    <p class="paragraph">
        I consider my self a <strong id="front">FrontEnd developer</strong> because all the technologies I've been studied and worked.
        <br> I feel really confortable designing interfaces with <strong id="interfaces">HTML5 & CSS3 and SASS</strong>.
        <br> Also this is complement with a strong knowledge in frameworks like <strong id="angular">Angular</strong> and <strong id="vue">VUE</strong>, that belows to me create a solid and scalable <strong id="spa">SPA</strong>.
        <br> And always improving I have experience with <strong id="redux">REDUX</strong> pattern, Progressive Web Applications & <strong id="sw">Service Workers</strong>, real time apps with <strong id="sockets">Sockets</strong>.
        <br> About my skills to be a <strong id="back">BackEnd developer</strong>, I really love in <strong id="node">Node</strong> creating API's with <strong id="express">Express, MongoDB, JWT</strong> and much more.
    </p>
</div>