<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary" data-aos="zoom-in">
            DEVELOPER SKILLS
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-2" data-aos="zoom-in-down">
            <app-dynamic *ngIf="this.arrBooleans[0]"></app-dynamic>
            <app-pie *ngIf="this.arrBooleans[1]"></app-pie>
            <!-- <app-bubble *ngIf="this.arrBooleans[2]"></app-bubble> -->
            <app-polar-area *ngIf="this.arrBooleans[2]"></app-polar-area>
        </div>
        <div class="col-1-of-2" data-aos="zoom-in-up">
            <div class="composition">
                <img (click)="setArrBooleans(0)" src="../../../assets/img/path3.png" alt="Photo 1" class="composition__photo composition__photo--p1">
                <img (click)="setArrBooleans(1)" src="../../../assets/img/front_end_stack.png" alt="Photo 2" class="composition__photo composition__photo--p2">
                <img (click)="setArrBooleans(2)" src="../../../assets/img/mobile-app.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" data-aos="fade-up">
            <app-dynamic-text *ngIf="this.arrBooleans[0]"></app-dynamic-text>
            <app-pie-text *ngIf="this.arrBooleans[1]"></app-pie-text>
            <app-bubble-text *ngIf="this.arrBooleans[2]"></app-bubble-text>
        </div>
    </div>
</section>