<blockquote class="blockquote">
    <div id="socialMedia">
        <figure class="figure">
            <a class="btn" href="https://www.linkedin.com/in/luis-lillo-gasca/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- <figcaption class="figure-caption">Linkedin</figcaption> -->
        </figure>


        <figure class="figure">
            <a class="btn" href="https://github.com/LuisSantiagoLillo">
                <i class="fab fa-github-alt"></i>
            </a>
            <!-- <figcaption class="figure-caption">GitHub</figcaption> -->
        </figure>


        <figure class="figure">
            <a class="btn" href="https://app.codesignal.com/profile/luis_s63">
                <i class="fas fa-laptop-code"></i>
            </a>
            <!-- <figcaption class="figure-caption">CodeSignal</figcaption> -->
        </figure>
    </div>
</blockquote>