<div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<h3 class="heading-tertiary u-margin-bottom-small">Defining my future</h3>
<p class="paragraph">
    After working 4 years as IT support, I decided to continue studying programming. At the beggining I learnt Java and C#, creating apps in Android and BackEnd with Spring. 1 year leater I discovered JavaScript.
</p>